/* Set Margain and text and color background for whole site */
* {
  margin: 0;
  padding: 25px;
  color: aquamarine;
  background-color: black;
}
/* Set header spacing */
.card {
  font-size: 50px;
  display: flex;
  justify-content: space-between;
}
/* set text for main header */
.card a {
  color: aquamarine;
}
/* h1 is Welcome */
h1 {
  color: antiquewhite;
  font-size: 75px;
  text-align: center;
}

#question-container {
  border: 5px solid antiquewhite;
}

.command {
  margin: 0 auto;
  width: 100px;
}
/* Change the buttons when you hover over them */
button:hover {
  color: black;
  background-color: aquamarine;
}
/* create a hide class */
.hide {
  display: none;
}

#start {
  margin: 0 auto;
}
/* start button */
#start button {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.item {
  color: antiquewhite;
}
